---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Grabayol, regalos y grabados">
	<main>
		<Navbar />
		<Hero />
	</main>
</Layout>

<style>
	main {

	}
	
</style>
